/* GENERAL STYLES BEGIN */
body {
	margin: 0;
	overflow-x: hidden;
	background: #219793 !important;
	height: 100vh;
}
.div {
	overflow-x: hidden;
}
#app {
	width: 100%;
	overflow-x: hidden;
}
.whitespace:before {
	content: '';
	height: 13%;
	width: 130vw;
	background: white;
	position: absolute;
	top: -100px;
	left: 0px;
	bottom: 0px;
	transform: rotate(-5deg);
	z-index: 0;
	border: none;
	z-index: -1;
}
.footer:before {
	content: '';
	height: 80%;
	width: 130vw;
	background: white;
	position: absolute;
	top: -150px;
	left: 0px;
	bottom: 0px;
	transform: rotate(-5deg);
	z-index: 0;
	border: none;
	z-index: -1;
}
.whitespace,
.footer {
	position: relative;
	z-index: 1;
	background: white;
	min-height: 30vh;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100vw;
}
.whitespace:after {
	content: '';
	height: 300px;
	width: 130vw;
	background: white;
	position: absolute;
	bottom: 0;
	left: 0px;
	top: 95%;
	transform: rotate(6deg);
	border: none;
	z-index: -1;
}
.whitespace .gears {
	position: absolute;
	left: 10%;
	top: -150px;
	width: 20vw;
	height: auto;
}
.visible {
	opacity: 1;
	transition: 500ms;
}

.hidden {
	opacity: 0.3;
	transition: 500ms;
}
.hidden:hover {
	cursor: default !important;
}
.container {
	width: 75%;
	margin: 0 auto 0 auto;
}
.containerInner {
	width: fit-content;
	margin: 0 auto 0 auto;
}
/* GENERAL STYLES END */
/* NAVBAR STYLES START */
.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 1.5rem;
	color: white;
	z-index: 2;
}
.navbar > div {
	height: 50px;
	width: 50px;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 50%;
	transition: 500ms;
}
.nav-link-active {
	position: relative;
	top: 0px;
	opacity: 1;
}
.nav-link-inactive {
	position: relative;
	top: -120px;
	z-index: -1;
	opacity: 0;
}
.navbar > div:hover {
	cursor: pointer;
}
.toggler:hover,
.toggler-active {
	color: #3cbe9e;
}
.current-location {
	color: #3cbe9e;
}
/* NAVBAR STYLES END */
/* HEADER STYLES BEGIN */
.header {
	height: 70vh;
	width: 100%;
	background-image: url(./images/meditation-header.png);
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: cover;
}
.laptop-man {
	position: absolute;
	right: 20%;
	bottom: 250px;
	height: 60%;
}
.header-text {
	position: relative;
	top:23%;
	left:17%;
}
.header-text .name {
	color: #ffdd00;
	font-weight: 650;
	font-size: 3.5rem;
	margin-bottom: 10px;
	font-family: 'Segoe UI' !important;
}
.header-text h5 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 800;
}
.header-text .profession {
	font-style: italic;
	font-size: 1.5rem;
}

.header-text .welcome {
	font-size: 1.3rem;
	color: white;
}
@media (max-width: 500px) {
	.header {
		background-position-x: 80%;
		background-position-y: 70%;
		background-size: 100px auto, cover;
	}
	.header-text {
		top: 10%;
		left: 15%;
	}
	.header-text .name {
		color: #ffdd00;
		font-weight: 650;
		font-size: 2rem;
		margin-bottom: 10px;
		font-family: 'Segoe UI' !important;
	}
	.header-text h5 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 800;
	}
	.header-text .profession {
		font-style: italic;
		font-size: 1rem;
	}

	.header-text .welcome {
		font-size: 1rem;
		color: white;
	}
}
/* HEADER STYLES END */
/* ABOUT STYLES BEGIN */
.about-section {
	position: relative;
	width: 30%;
	right: -60%;
	top: -100px;
	margin-bottom: 100px;

}
@media (max-width: 1300px) {
	.about-section {
		width: 70%;
		right: 0;
		margin: 0 auto 0 auto;
	}
}
.about-section h1 {
	text-align: center;
	color: #219793;
	font-weight: 700;
	font-family: 'Segoe UI' !important;
}
.carousel-main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(fit-content + 100px);
	transition: 500ms;
}
.carousel .arrows {
	font-size: 2rem;
}
.carousel-main p {
	padding-left: 50px;
	padding-right: 50px;
	transition: 500ms;
	height: 200px;
	display: flex;
	align-items: center;
	overflow-y: auto;
}
.carousel .arrows:hover {
	cursor: pointer;
}
.carousel-index {
	text-align: center;
}
.carousel-index:hover {
	cursor: pointer;
}
.carousel .fab.fa-react {
	margin-right: 20px;
	font-size: 1.5rem;
	color: #ffdd00;
}
.carousel .fab.fa-react.hidden:hover {
	cursor: pointer !important;
}
/* ABOUT STYLES END*/
/* PERSONAL STYLES BEGIN */
.personal {
	position: relative;
	margin-top: 10%;
	overflow-x: hidden;
}
.personal h1 {
	text-align: left;
	color: #219793;
	font-weight: 700;
	font-family: 'Segoe UI' !important;
	font-size: 2.5rem;
	background: white;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
}
.gallery-item {
	width: 350px;
	min-width: 250px;
	max-width: 450px;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.gallery-item-img {
	max-width: 100%;
}
.personal .gallery-item-img img {
	width: 100%;
	height:100%;
	border: 1px solid rgb(0, 0, 0);
}
.group .gallery-item-img img {
	width: 100%;
	border: 1px solid white;
}
.gallery-item-title,
.gallery-item-description,
.gallery-item-tags {
	padding-top: 20px;
}
.gallery-item-title {
	font-size: 2rem;
	font-weight: 700;
	font-family: 'Segoe UI' !important;
	display: flex;
}
.gallery-item-title a {
	margin-left: auto;
}
.gallery-item-tags {
	display: flex;
	flex-wrap: wrap;
}
.gallery-item-tag {
	margin-right: 20px;
	font-weight: 800;
	font-family: 'Segoe UI' !important;
}
.personal .ui.button {
	background: white;
	border: 1px solid lightgray;
}
.group .ui.button {
	background: #219793;
	color: #6ecfcc;
	border: 1px solid #6ecfcc;
}
/* PERSONAL STYLES END */
/* GROUP STYLES BEGIN */
.group {
	padding-top: 30%;
	padding-bottom: 30%;
	color: #ffffff;
	position: relative;
	top: 0px;
}
.group h1 {
	text-align: left;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Segoe UI' !important;
	background: #219793;
	position: sticky;
	top: 0px;
}
.group-silhouette {
	position: absolute;
	top: -3%;
	z-index: 1;
	right: 0;
}
/* GROUP STYLES END */
/* FOOTER STYLES BEGIN */
.footer-info {
	display: flex;
	margin-left: auto;
	margin-right: 50px;
	width: fit-content;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.footer-info i {
	font-size: 5rem;
	padding: 20px;

	color: white;
}

.footer-info .icon {
	background: black;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: 50px;
}
.footer-info .text {
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}
.contacts {
	position: relative;
	top: -100px;
}
.programmer {
	position: absolute;
	left: 100px;
	bottom: 0px;
	width:22%;
}
.contact-me {
	position: absolute;
	left: 100px;
	bottom: 200px;
	width:32%;
}
.credit {
	position: absolute;
	bottom: 50px;
	right: 50px;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Segoe UI' !important;
	color: #219793;
}
/* FOOTER STYLES END */
@media (max-width: 1340px) {

	.container {
		width:93.0%;
	}

	/* HEADER MEDIA QUERIES BEGIN */

	img.laptop-man {
		height: 50%;
	}

	.header-text {
		position: relative;
		left: 5%;
		top: 5%;
	}
	/* HEADER MEDIA QUERIES END */
	.about-section {
		width:100%;
	}
	.carousel-main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.carousel-main p {
		padding-left: 10px;
		padding-right: 10px;
	}

	.group-silhouette {
		display: none;
	}

	.gallery-item {
		margin-top: 0px;
		margin-right: 0px;
	}


	/* FOOTER MEDIA QUERIES BEGIN */
	.footer-info i {
	
		padding: 5px;
		font-size: 1.5rem;
	
	}
	.footer-icon .text {
		font-size:1rem;
	}
	.programmer {
		display: none;
	}
	.credit {
		display: none;
	}
	.contact-me {
		display: none;
	}
	.footer-info .icon{
		display: none;
	}
	.footer:before {
		display:none;
	}
	.contacts {
		top: 10%;
	}
	/* FOOTER MEDIA QUERIES END */
}